<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>add-success</title>

    <script language="javascript" type="text/javascript" src="./jquery/dist/jquery.min.js"></script>
    <link href="./bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />


  </head>
  <body>
    <div class="row">
      <div class=" col-md-8 col-md-offset-2 ">
    <h2>添加成功！</h2>
    <button  id="back"  class="btn btn-info">返回</button>
  </div>
</div>
    <script language="javascript" type="text/javascript" src="./javascripts/add-success.js"></script>
  </body>

</html>
