<html>
  <head>
    <meta charset="utf-8">
    <title>Add question</title>
    <script language="javascript" type="text/javascript" src="./jquery/dist/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="./javascripts/addQuestion.js"></script>
  </head>
  <body>
  请选择试题类型：
  <select  id="cource">
    <option>------</option>
    <option>填空题</option>
    <option selected>单选题</option>
    <option>多选题</option>
  </select>
  示例：<br>请输入问题：<input type="text" value="面向对象的三大特性是：">

  </body>
  </html>
