<html>

<head>
  <meta charset="utf-8">
  <title>Add question</title>

  <script language="javascript" type="text/javascript" src="./jquery/dist/jquery.min.js"></script>
  <link href="./bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script language="javascript" type="text/javascript" src="./javascripts/addQuestion.js"></script>

</head>

<body>
  <div class="row">
    <div class=" col-md-8 col-md-offset-2 ">
      请选择试题类型：
      <select id="cource">
        <option>------</option>
        <option>填空题</option>
        <option>单选题</option>
        <option>多选题</option>
      </select>
      <br>
      <section id='填空题' style='display:none'>
        <ul class="list-unstyled">
          <li> 示例：</li>
          <li>请输入问题：
            <input type="text" value="javascript是:()。">
          </li>
          <li>请输入答案：
            <input type="text" value="动态语言">
          </li>

        </ul>
        <ul class="list-unstyled">
          <form action="/insertFill" method="post">
            <li>请输入问题：
              <input type="text" name='question'>
            </li>
            <li>请输入答案：</li>
            <li>
              <input type="text" name='answer'>
              <input type="submit" value='提交' class="btn btn-info">
            </li>
          </form>
        </ul>

      </section>
      <section id='单选题' style='display:none'>
        <ul class="list-unstyled">
          <li> 示例：</li>
          <li>请输入问题：</li>
          <li>
            <input type="text" value="下面哪个不属于面向对象的三大特性？">
          </li>
          <li>
            <input type="text" value="A.继承性">&nbsp;&nbsp;&nbsp;
            <input type="text" value="B.多态性">&nbsp;&nbsp;&nbsp;
            <input type="text" value="C.封装性">&nbsp;&nbsp;&nbsp;
            <input type="text" value="D.相关性">
          </li>
          <li>请输入答案：</li>
          <li>
            <input type="radio" name='singleChoice' value='A'>A&nbsp;&nbsp;&nbsp;
            <input type="radio" name='singleChoice' value='B'>B&nbsp;&nbsp;&nbsp;
            <input type="radio" name='singleChoice' value='C'>C&nbsp;&nbsp;&nbsp;
            <input type="radio" name='singleChoice' value='D' checked='checked'>D
          </li>
        </ul>
        <ul class="list-unstyled">
          <form action="/insertSingle" method="post">
          <li> 请输入问题：&nbsp;&nbsp; </li>
          <li>
            <input type="text" value="" name="question">
          </li>
          <li>请输入可选项:</li>
          <li>
            <input type="text" value='A.' name="optionOne">&nbsp;&nbsp;&nbsp;
            <input type="text" value='B.' name="optionTwo">&nbsp;&nbsp;&nbsp;
            <input type="text" value='C.' name="optionThree">&nbsp;&nbsp;&nbsp;
            <input type="text" value='D.' name="optionFour">
          </li>
          <li>请选择答案：</li>
          <li>
            <input type="radio" name='singleChoices' value='A'>A&nbsp;&nbsp;&nbsp;
            <input type="radio" name='singleChoices' value='B'>B&nbsp;&nbsp;&nbsp;
            <input type="radio" name='singleChoices' value='C'>C&nbsp;&nbsp;&nbsp;
            <input type="radio" name='singleChoices' value='D'>D
          </li>
          <li>  <input type="submit" value='提交' class="btn btn-info"></li>
          </form>
        </ul>
      </section>

      <section id='多选题' style='display:none'>
        <ul class="list-unstyled">
          <li> 示例：</li>
          <li>请输入问题：</li>
          <li>
            <input type="text" value="下面哪个属于面向对象的三大特性？">
          </li>
          <li>
            <input type="text" value="A.继承性">&nbsp;&nbsp;&nbsp;
            <input type="text" value="B.多态性">&nbsp;&nbsp;&nbsp;
            <input type="text" value="C.封装性">&nbsp;&nbsp;&nbsp;
            <input type="text" value="D.相关性">
          </li>
          <li>请输入答案：</li>
          <li>
            <input type="checkbox" name='multipleChoice' value='A' checked='checked'>A&nbsp;&nbsp;&nbsp;
            <input type="checkbox" name='multipleChoice' value='B' checked='checked'>B&nbsp;&nbsp;&nbsp;
            <input type="checkbox" name='multipleChoice' value='C' checked='checked'>C&nbsp;&nbsp;&nbsp;
            <input type="checkbox" name='multipleChoice' value='D'>D
          </li>
        </ul>
        <ul class="list-unstyled">
          <form action="/insertMultiple" method="post">
          <li> 请输入问题：&nbsp;&nbsp; </li>
          <li>
            <input type="text" value="" name="question">
          </li>
          <li>请输入可选项:</li>
          <li>
            <input type="text" value='A.' name='optionOne'>&nbsp;&nbsp;&nbsp;
            <input type="text" value='B.' name='optionTwo'>&nbsp;&nbsp;&nbsp;
            <input type="text" value='C.' name='optionThree'>&nbsp;&nbsp;&nbsp;
            <input type="text" value='D.' name='optionFour'>
          </li>
          <li>请选择答案：</li>
          <li>
            <input type="checkbox" name='multipleChoices' value='A' >A&nbsp;&nbsp;&nbsp;
            <input type="checkbox" name='multipleChoices' value='B' >B&nbsp;&nbsp;&nbsp;
            <input type="checkbox" name='multipleChoices' value='C' >C&nbsp;&nbsp;&nbsp;
            <input type="checkbox" name='multipleChoices' value='D' >D
          </li>
          <li>  <input type="submit" value='提交' class="btn btn-info"></li>
          </form>
        </ul>
      </section>
    </div>
  </div>




</body>

</html>
