<!DOCTYPE html>
<html>

<head>
    <title>在线答题系统</title>
    <link href="./stylesheets/bootstrap.css" rel="stylesheet">
    <script src='./jquery/dist/jquery.js'></script>
    <script src='./javascripts/jquery-cookie.js'></script>
    {{{block "inputFile"}}}
</head>

<body>
    {{{body}}}
</body>

</html>
