<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>{{title}}</title>
  <link rel='stylesheet' href='./stylesheets/layout-style.css' />
  <link rel="stylesheet" href="./stylesheets/left-navigation.css">

=======
    <title>在线答题系统</title>
    <link rel='stylesheet' href='./stylesheets/layout-style.css'/>
    <link rel="stylesheet" href="./stylesheets/left-navigation.css" >
    <link rel="stylesheet" href="./stylesheets/bootstrap.css">
>>>>>>> 17e1d10812c6e1eed512a9006712bdb93a9773c5
</head>

<body>
  <header>
    <div id="top-nav">
      <div class="logo">
        <img src="/">
      </div>
      <ul class="nav-user">
        <li>
          <a id="welcome">用户名</a>
        </li>
        <li><a href="/index" id="quit">退出</a></li>
      </ul>
    </div>
<<<<<<< HEAD
  </header>
  <div class="nav">
    <ul>
      <li class="on"><a href=''>首页</a></li>
      <li><a href=''>考试管理</a></li>
      <li><a href=''>密码管理</a></li>
    </ul>
    <div class="hover"></div>
  </div>
  {{{body}}}
  <!--     <footer>
    <div id="footer">
        <p>在线考试系统 | 国内顶级在线答题网站</p>
        <p>Copyright (C) | All Rights Reserved.XXXX 版权所有</p>
    </div>
</footer> -->
=======
    {{{body}}}

>>>>>>> 17e1d10812c6e1eed512a9006712bdb93a9773c5
</body>

<script src="http://www.lanrenzhijia.com/ajaxjs/jquery.min.js"></script>
<script src="./javascripts/left-navigation.js"></script>

</html>
