<!DOCTYPE html>
<html>

<head>
    <title>在线答题系统</title>
    <link rel='stylesheet' href='./stylesheets/layout-style.css'/>
    <link rel="stylesheet" href="./stylesheets/left-navigation.css" >
</head>

<body>
    <header>
        <div id="top-nav">
            <div class="logo">
                <img src="/">
            </div>
            <ul class="nav-user">
                <li>
                    <a id="welcome">用户名</a>
                </li>
                <li><a href="/index" id="quit">退出</a></li>
            </ul>
        </div>
    </header>
    <div class="nav">
    	<ul>
    		<li class="on"><a href=''>首页</a></li>
        	<li><a href=''>考试管理</a></li>
        	<li><a href=''>密码管理</a></li>
        </ul>
        <div class="hover"></div>
    </div>
    {{{body}}}

</body>

<script src="http://www.lanrenzhijia.com/ajaxjs/jquery.min.js"></script>
<script type="text/javascript" src="./javascripts/left-navigation.js"></script>

</html>
