{{!< default}}

{{#contentFor "inputFile"}}
    <link rel='stylesheet' href='./stylesheets/layout-style.css'/>
    <script src="./javascripts/layout.js"></script>
    <script src="./javascripts/constant.js"></script>
{{/contentFor}}

<header>
    <div id="top-nav">
      <div class="logo">
        <img src="">
      </div>
      <ul class="nav-user">
        <li>
          <a id="welcome"></a>
        </li>
        <li><a href="/index" id="quit">退出</a></li>
      </ul>
    </div>
</header>
{{{body}}}
