{{!< default}}

{{#contentFor "inputFile"}}
    <link rel='stylesheet' href='./stylesheets/layout-style.css'/>
{{/contentFor}}

<header>
    <div id="top-nav">
      <div class="logo">
        <img src="">
      </div>
      <ul class="nav-user">
        <li>
          <a id="welcome">用户名</a>
        </li>
        <li><a href="/" id="quit">退出</a></li>
      </ul>
    </div>

</header>
{{{body}}}
