 {{!< ./layout/student-layout}}

{{#contentFor "inputFile"}}
  <script src='../pubic/javascripts/make-exam.js'></script>
  <link rel="stylesheet" href="./stylesheets/paper.css">
  <script type="text/javascript"   src ="../public/javascripts/mark-exam.js">

  </script>
{{/contentFor}}

<div class='context'>
  <form id='test-container'>
    <div id="title">
      <ul>
        <li>时间: </li>
        <input type="text" value='100分种' style='border-left:0px;border-top:0px;border-right:0px;border-bottom:1px ' />
        <li> 得分:</li>
        <input type="text" id="score" />
      </ul>
    </div>
    <div class="blank">

      <p>一 、填空题</p>
      {{{blank blanks}}}
    </div>
    <div class="select">
      <p>二 、选择题</p>
      {{{singleChoice singleChoices}}}
    </div>
    <div class="mselect">
      <p>三 、多选题</p>
      {{{multipleChoice multipleChoices}}}
    </div>
    <div class="submit">

      <input type="button" id="submit" value="提交">
    </div>
  </form>
</div>
