{{!< layout}}
<style media="screen">
  table {
    width: 600px;
    margin: 100px 0 0 300px;
  }
</style>
  <div class="" align="left">
    <table class="toexam">
      <thead align="left">
        <th><font size=5>未考科目</font></th>
      </thead>
      <tbody>
        <tr>
          <td>test</td>
          <td>
            <button type="button" name="button" class="startExam">开始考试</button>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="examed">
      <thead align="left">
        <th><font size=5>已考科目</font></th>
      </thead>
      <tbody>
        <tr>
          <td>test</td>
          <td>
            <button type="button" name="button">查看成绩</button>
          </td>
          <td>
            <button type="button" name="button">查看试卷</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
