<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>查看试卷列表</title>
</head>

<body>
  <div class="menu_nav" align="left">
    <ul>
      <li><a href="rightPage">考试管理</a></li>
      <li><a href="rightPage">密码管理</a></li>
    </ul>
  </div>
  <div class="" align="center">
    <table class="toexam">
      <thead>
        <th>未考科目</th>
      </thead>
      <tbody>
        <tr>
          <td>test</td>
          <td>
            <button type="button" name="button">开始考试</button>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="examed">
      <thead>
        <th>已考科目</th>
      </thead>
      <tbody>
        <tr>
          <td>test</td>
          <td>
            <button type="button" name="button">查看成绩</button>
          </td>
          <td>
            <button type="button" name="button">查看试卷</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
<script src="/bower_components/jquery/dist/" charset="utf-8"></script>
<script>
</script>
</html>
