<html>
  <head>
    <meta charset="utf-8">
<!DOCTYPE html>
<head>
  <title>修改密码</title>
  <link rel="stylesheet" href="./stylesheets/password.css">
   <script src="jquery/dist/jquery.js" ></script>
  <script src="password.js"></script>
</head>
<body>
  <div class="management">
    旧密码：<input id="oldId"  class="pass" type="password" maxlength=10 ><br>
    新密码：<input id="newId"  class="pass" type="password" maxlength=10><br>
    确认：<input id="confirmId" class ="pass" type="password" maxlength=10><br>
  </div>
</body>
</html>
