{{!< teacher-layout}}
{{#contentFor "teacherFile"}}
    <link rel="stylesheet" href="./stylesheets/password.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{{/contentFor}}
  <script src="./jquery/dist/jquery.min.js"></script>
<script src="pwsManagement.js"></script>
<title>修改密码</title>
<body>
  <div class = "passwordInput">
    <div class="management">
      旧密码： <input id="oldPass" class="pass" type="password" placeholder="此处填写旧密码" maxlength=10></div>
    <div class="management">
       新密码：<input id="newPass" class="pass" type="password"  placeholder="此处填写新密码"     maxlength=10></div>
    <div class="management">
      请确认：<input id="authorization" class="pass" type="password" placeholder="请确认密码" maxlength=10></div>
      <div class="button">
        <input type="button" id="Reset" value="重置">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" id="Submit" value="提交">
      </div>
  </div>

</body>
