{{!< teacher-layout}}
{{#contentFor "teacherFile"}}
    <link rel="stylesheet" href="./stylesheets/password.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{{/contentFor}}
  <script src="./jquery/dist/jquery.min.js"></script>
<script src="pwsManagement.js"></script>
<title>修改密码</title>
<body>
  <div id ="message"> </div>
  <div class="management">
    旧密码：<input id="oldPassword"  class="pass" type="password" placeholder="此处填写旧密码" maxlength=10 ><br>
    新密码：<input id="newPassword"  class="pass" type="password" placeholder="此处填写旧密码" maxlength=10><br>
    确认：<input id="validatePassword" class ="pass" type="password" placeholder="此处填写旧密码" maxlength=10><br>
  </div>
  <div class="button">
    <input type="button" id="Reset" value="重置">
    <input type="button" id="Submit" value="提交">
  </div>
</body>
