{{!< layout}}
<head>
    <link rel="stylesheet" href="./stylesheets/teacher.css">
    <link rel="stylesheet" href="./stylesheets/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<div class="table">
    <table id="table" class="table table-hover table-bordered" cellpadding="0" align="center">
        <thead>
            <tr class="active">
                <td>
                    <h4>编号</h4>
                </td>
                <td>
                    <h4>课程</h4>
                </td>
                <td>
                    <h4>状态</h4>
                </td>
            </tr>
        </thead>
        <tbody id="tbody">
            {{#each array}}
            <tr>
                <td id="id">{{exa_id}}</td>
                <td id="name">{{exa_name}}</td>
                <td id="status">{{status}}<input type="button" name="check" value="查看"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="./javascripts/teacher.js"></script>
