<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#each blank}}
    {{content}}
      <input type="text" value=''>

    {{/each}}
  </body>
</html>
