body {
  border: 0;
  padding: 0;
}
.context {
  border-radius: 25px;
  width: 800px;
  height: 1400px;
  margin: auto;
}
#test-container {
  border-radius: 10px;
  border-right: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  box-shadow: #AAAAAD 3px 3px 0px 0px;
  margin: auto;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 840px;
  border-collapse: collapse;
  position: relative;
}
#title ul li {
  border-radius: 3px;
  background-color: #36649F;
  height: 40px;
  padding: 3px 20px 3px 5px;
  line-height: 50px;
  font-size: 15px;
  color: #FFFFFF;
  display: inline;
}
#score {
  width: 200px;
  height: 30px;
}
#name {
  width: 200px;
  height: 30px;
}
#number {
  width: 200px;
  height: 30px;
}
.blank {
  border-right: 1px solid #BFEFFF;
  border-top: 1px solid #BFEFFF;
  border-left: 1px solid #BFEFFF;
  border-bottom: 1px solid #BFEFFF;
  border-radius: 5px;
  width: 800px;
  height: 300px;
  margin: 30px auto 0 auto;
}
p {
  color: #000000;
  font-size: 15px;
  height: 40px;
  text-indent: 25px;
  background-color: #BFEFFF;
}
.select {
  border-right: 1px solid #BFEFFF;
  border-top: 1px solid #BFEFFF;
  border-left: 1px solid #BFEFFF;
  border-bottom: 1px solid #BFEFFF;
  border-radius: 5px;
  width: 800px;
  height: 300px;
  margin: 30px auto 0 auto;
}
.mselect {
  border-right: 1px solid #BFEFFF;
  border-top: 1px solid #BFEFFF;
  border-left: 1px solid #BFEFFF;
  border-bottom: 1px solid #BFEFFF;
  border-radius: 5px;
  width: 800px;
  height: 500px;
  margin: 30px auto 0 auto;
}
#submit {
  height: 30px;
  width: 170px;
  margin: 10px auto;
  border-radius: 15px;
  background-color: #ADD8E6;
  text-align: center;
  line-height: 17px;
  font-size: 13px;
  font-weight: bolder;
  color: #000000;
  box-shadow: #A2B5CD 0px 2px 0px 0px;
}
